h1 {
    text-align: center
}
#heading {
    border-width:0px;
    border:none;
    border-width:0px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
    text-size: 40px;
    width: 200px;
    overflow: hidden;
    display: inline-block;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    white-space: nowrap;
}

#heading * {
    display: none;
}


#content {
    border-width:0px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea {
    width: 100vw;
    height: 99vw;
    border-width:0px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
